RewriteEngine On

ErrorDocument 403,404 /index.php
RewriteCond %{REQUEST_FILENAME} -f [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^ - [L]

RewriteCond %{REQUEST_URI} !(.*controllers.*) [NC]
RewriteCond %{REQUEST_URI} !\.(js|css)$ [NC]
RewriteRule ^(.*)$ /index.php [QSA,L]
